.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Kotlin ###
local.properties
**/*/res*/MR/**/values/*.xml
**/*/res*/**/values/secrets.xml
*.hprof

### iOS ###
sample/iosApp/Podfile.lock
sample/iosApp/Pods/*
sample/iosApp/sample.xcworkspace/*
sample/iosApp/sample.xcodeproj/*
!sample/iosApp/sample.xcodeproj/project.pbxproj
sample/shared/src/commonMain/resources/MR/base/strings.xml
**/*.config.d/moko-resources-generated.js
**/resources/config.json
.idea/artifacts
/sample/angularJsApp/node_modules/
/sample/angularJsApp/app/
/sample/angularJsApp/config.json
/sample/angularJsApp/lib/
/sample/angularJsApp/sample-config.json
sample/iosApp/.idea
sample/iosApp/sample/Secrets.xcconfig
